<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<header>
    <ul>
        <li>Calendar</li>
        <li>Food request</li>
        <li>Who has to refil the boottles</li>
        <li>upload pictures</li>
        <li>chat</li>
    </ul>
</header>
</html>